@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0px;
    padding: 0px;
    width: 98,5%;
    height: 100%;
    font-family: 'Roboto';
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

table{
    margin-left: 40px;
    margin-right: 40px;
}

